.leaderboard-bg {
  background: #FFD166;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaderboard-desc-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaderboard-container {
  flex: 1;
  width: 500px;
  margin-bottom: 50px;
}
.leaderboard-heading {
  font-size: 32px;
  color: white;
}
.leaderboard-container ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.leaderboard-container ol li {
  counter-increment: leaderboard-num;
  padding-left: 50px;
  position: relative;
}
.leaderboard-container ol li::before {
  content: counter(leaderboard-num);
  display: block;
  color: white;
  position: absolute;
  left: 10px;
}
.leaderboard-container ol li.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.leaderboard-container ol li.player span {
  font-size: 24px;
}
